<div ng-bind-html="home">{{home}}</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1485005552481&di=d361ae9ed93aca6a5652c187491a6801&imgtype=0&src=http%3A%2F%2Fpic31.nipic.com%2F20130702%2F2926417_003653575119_2.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1485005552481&di=cf1595fa8014fac3dc0825f3c27d78b6&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F018f1b56f2057232f875a9448ab29f.jpg%40900w_1l_2o_100sh.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>